:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-dark: #333333;
  --color-gray-light: #F2F2F2;

  --color-blue-main: #82B3D3;
  --color-blue-light-1: #E6F0F6;
  --color-blue-light-2: #F0F6FA;

  --color-brown: #756157;
  --color-green: #7DB54F;

  --font-base: "PT Sans", sans-serif;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: content-box;
}

html {
  height: 100%;
}

body {
  font-family: var(--font-base);
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: var(--color-white);
  color: var(--color-gray-dark);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

li {
  list-style: none;
}

li::marker {
  display: none;
  content: "";
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.big-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-black);
  margin: 0 0 25px;
}

.small-text {
  font-size: 22px;
  line-height: 26px;
  color: var(--color-gray-dark);
  margin: 0;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-brown);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-hotels,
.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  display: inline-block;
}

.subscribe-button,
.apply-button,
.add-to-favorites {
  background-color: var(--color-blue-main);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.in-favorites {
  background-color: var(--color-green);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cancel-button {
  border: none;
  background-color: transparent;
}

.header-button {
  padding: 8px 34px;
}

.header-button:hover {
  background-color: #615048;
}

.header-button:active {
  background-color: var(--color-brown);
  color: rgba(255, 255, 255, 0.3);
}

.search-hotels:hover {
  background-color: #615048;
}

.search-hotels:active {
  background-color: var(--color-brown);
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:hover {
  background-color: #68a2ca;
}

.subscribe-button:active {
  background-color: var(--color-blue-main);
  color: rgba(255, 255, 255, 0.3);
}

.main-header {
  background-color: var(--color-white);
  color: var(--color-black);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
  min-height: 64px;
}

.navigation-with-logo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navigation-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 32px;
}

.navigation-item {
  list-style: none;
}

.navigation-user {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 20px;
  max-width: 300px;
  margin-left: auto;
}

.navigation-list.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.user-navigation-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 64px;
  text-decoration: none;
}

.user-navigation-link:hover {
  opacity: 0.6;
}

.user-navigation-link:active {
  opacity: 0.3;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: var(--color-black);
  background-color: var(--color-white);
  text-transform: capitalize;
}

.navigation-link:hover {
  color: var(--color-brown);
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link-current {
  color: var(--color-brown);
  text-decoration: underline;
  text-decoration-color: var(--color-brown);
  text-underline-offset: 20px;
}

.navigation-logo {
  width: 115px;
  height: 33px;
}

.text-logo,
.social-icon,
.social-logo,
.htmlacademy-logo {
  display: block;
}

.welcome-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 485px;
  background-image: url("../images/index-background-welcome.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-color: var(--color-blue-main);
}

.sedona-description {
  text-align: center;
  padding: 69px 274px 90px;
}

.typical-block {
  text-align: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

.advantages {
  background-color: var(--color-white);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 1200px;
}

.advantages-photo {
  display: block;
  width: 800px;
  height: 385px;
  object-fit: cover;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 385px;
  text-align: center;
  padding: 102px 85px;
  box-sizing: border-box;
  list-style: none;
}

.blue-1 {
  background-color: var(--color-blue-main);
  color: var(--color-white);
}

.blue-2 {
  background-color: var(--color-blue-light-1);
}

.blue-3 {
  background-color: var(--color-blue-light-2);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.blue-1-title {
  color: var(--color-white);
}

.advantages-line-blue {

  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 0 30px;
}

.advantages-line-grey {

  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 0 30px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: var(--color-gray-dark);
  margin: 0;
}

.blue-1 .advantages-description,
.blue-1 > div {
  color: var(--color-white);
}

.advantages-icon {
    margin-bottom: 30px;
    flex-shrink: 0;
    margin-top: 5px;
    align-self: center;
}

.search-hotel-block {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.small-text-grid {
  margin: 20px 0 54px;
}

.subscribe-block {
  text-align: center;
  padding: 96px 70px 104px;
  background-color: var(--color-white);
}

.subscribe-block-background {
  height: 415px;
  padding-top: 96px;
  text-align: center;
  color: var(--color-white);
  background-image: url("../images/index-background-subcribe.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-color: var(--color-blue-main);
}

.subscribe-block-text {
  margin-bottom: 54px;
}

.subscribe-block-background .big-text {
  color: var(--color-white);
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  color: var(--color-white);
  margin: 20px 0 0;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  gap: 0;
  max-width: 684px;
  margin: 0 auto;
}

.field {
  font-family: var(--font-base);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--color-gray-light);
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 14px 20px;
  flex: 1;
  min-width: 0;
}

.field::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.page-footer {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  padding-top: 40px;
  background-color: var(--color-white);
}

.page-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1060px;
  height: 50px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 142px;
  height: 40px;
  padding: 0;
  list-style: none;
  margin: 0;
  gap: 0;
}

.footer-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 40px;
  color: #83b3d3;
  text-decoration: none;
}

.footer-social-item:hover {
  color: #68a2ca;
}

.footer-social-item:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-telephone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 50px;
}

.footer-telephone {
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  text-align: center;
  color: var(--color-black);
  text-decoration: none;
}

.footer-telephone:hover {
  color: var(--color-brown);
}

.footer-telephone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-logo {
  fill: var(--color-black);
}

.navigation-logo:hover .htmlacademy-logo {
  fill: var(--color-brown);
}

.navigation-logo:active .htmlacademy-logo {
  fill: rgba(117, 97, 87, 0.3);
}

.inner-header {
  width: 1200px;
  margin: 0 auto 50px;
  color: var(--color-white);
  background-image: url("../images/catalog-background.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-color: var(--color-blue-main);
  display: flex;
  align-items: flex-start;
  padding: 35px 70px 70px;
  box-sizing: border-box;
}

.inner-header-container {
  flex: 1;
  min-width: 0;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: var(--color-white);
  margin: 0 0 8px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  margin-top: 8px;
}

.breadcrumbs-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 10px;
}

.breadcrumbs-item {
  list-style: none;
}

.breadcrumbs-link {
  display: flex;
  align-items: center;
  color: var(--color-white);
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link-a {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: var(--color-white);
  text-decoration: none;
}

.breadcrumbs-link-a:hover {
  opacity: 0.6;
}

.breadcrumbs-link-a:active {
  opacity: 0.3;
}


.catalog-filter {
  background-color: var(--color-white);
  padding: 70px;
  width: 390px;
  margin-left: auto;
  box-sizing: border-box;
  flex-shrink: 0;
  color: var(--color-black);
}

.catalog-filter-living {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-form {
  display: flex;
  flex-direction: column;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-black);
  margin: 0 0 32px;
  padding: 0;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
  color: var(--color-black);
}

.control {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  color: var(--color-black);
}

.control-input {
  width: 20px;
  height: 20px;
}

.catalog-filter-cost {
  margin-bottom: 32px;
}


.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  border: none;
}

.apply-button,
.cancel-button {
  width: 160px;
  padding: 8px 50px;
}

.inner-content-container {
  padding: 50px 70px 60px;
  width: 1200px;
  margin: 0 auto;
}

.catalog-settings {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.hotels-count {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-black);
  margin: 0;
}

.select-settings {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: var(--color-gray-dark);
}

.display-variants {
  display: flex;
  gap: 8px;
}

.display-variant {
  display: block;
  width: 48px;
  height: 48px;
  text-decoration: none;
}

.catalog-hotels {
  margin-bottom: 40px;
}

.catalog-hotels-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0 0 40px;
  list-style: none;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: 20px;
  gap: 16px;
}

.hotel-card-link {
  text-decoration: none;
  color: inherit;
}

.hotel-card-image {
  display: block;
  width: 100%;
  height: 212px;
  object-fit: cover;
  margin-bottom: 16px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  color: var(--color-black);
  font-weight: 700;
  margin: 0;
}

.hotel-card-info {
  display: flex;
  justify-content: space-between;
  color: var(--color-gray-dark);
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-type,
.hotel-card-price {
  margin: 0;
}

.hotel-card-buttons {
  display: flex;
  gap: 20px;
}

.hotel-card-button-detail {
  flex: 1;
  padding: 8px 20px;
  text-align: center;
}

.hotel-card-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.hotel-card-stars {
  display: flex;
  gap: 6px;
}

.hotel-card-rating-number {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--color-gray-dark);
  margin: 0;
}

.pagination {
  display: flex;
  padding: 0;
  gap: 8px;
  list-style: none;
  margin: 0;
  flex-wrap: wrap;
}

.pagination-item {
  font-size: 20px;
  line-height: 36px;
  margin-right: 8px;
  list-style: none;
}

.pagination-current,
.pagination-link {
  display: block;
  min-width: 60px;
  height: 60px;
  padding: 0 20px;
  font-size: 20px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.pagination-link {
  background-color: var(--color-blue-main);
  color: var(--color-white);
}

.pagination-current {
  background-color: var(--color-gray-light);
  color: var(--color-black);
}

.ellopsis {
  background-color: transparent;
  color: var(--color-black);
}
